<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ghi chú</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
	</head>
	<body>
		<div class="container my-5">
			<h1 class="text-center mb-4">Pony Online Notepad</h1>
			
			<div class="row justify-content-center">
				<div class="col-md-8">
					<!-- Title Input -->
					<div class="mb-3">
						<label for="title" class="form-label">Tiêu đề</label>
						<input type="text" class="form-control" id="title" name="title" placeholder="Nhập tiêu đề ghi chú">
					</div>
					
					<!-- Quill Editor -->
					<div class="border rounded p-3" id="editor" style="height: 300px;">
						{{ post[1] | safe }}
					</div>
					
					<!-- Submit Button -->
					<form action="/" method="POST" class="mt-4 text-start">
						<input type="hidden" id="content" name="content">
						<button class="btn btn-primary px-4 py-2" type="submit">
							<i class="bi bi-save"></i> Lưu
						</button>
					</form>
				</div>
			</div>
		</div>

		<!-- Include Quill's JS -->
		<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

		<!-- Initialize Quill editor -->
		<script>
			const options = {
				debug: 'info',
				modules: {
					toolbar: true,
				},
				placeholder: 'Nhập nội dung ghi chú',
				theme: 'snow'
			};
			const quill = new Quill('#editor', options);
			const form = document.querySelector('form');
			form.addEventListener('submit', function(event) {
				const content = document.querySelector('#content');
				content.value = quill.root.innerHTML;
			});
		</script>
	</body>
</html>
